/*******************************
		 no radius
********************************/
.navbar {
	border-radius: 0;
	border-style: none;
} 

/*******************************

		hover 

********************************/
a:hover {
	color: black !important;
}

/*******************************

	COLOR BACKGROUND

********************************/
.white{
	background-color: white !important;
}
.black{
	background-color: black !important;
}


/*******************************

		COLOR TEXT

*******************************/

.white-text{
	color: white !important;
}

.black-text{
	color: black !important;
}

/*******************************

		Font-size

*******************************/


/*******************************

		no style list

*******************************/
.no-list{
	list-style: none;
}
/*******************************

		skill

*******************************/

.wraper{
	width:470px;
	margin:50px auto;
}

.wraper:before,
.wraper:after {
  display: table;
  content: " ";
}

.wraper:after{
  clear: both;
}

/* Skills Style 10 */


.skillst10{
	width:100%;
	color:#fff;
}
.skillst10 .skillbar{
	width: 100%;
	height: 50px;
	position:relative;
	margin-bottom:30px;
	background-color: #edebec;
	box-sizing:border-box;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.skillst10 .count-bar{
	height: 100%;
	width:0px;
	position:relative;
	height: 50px;
	background-color: #249292;

}
.skillst10 .title{
	font-size:15px;
	font-weight:400;
	padding-left:12px;
	line-height:40px;
	text-transform:uppercase;
}
.skillst10 .count{
	position:absolute;
	top:0;
	right:-45px;
	line-height:40px;
	font-size:20px;
	font-weight:700;
	color:#0b7c7c;
}
.skillst10 .skillbar:before{
	height:10px;
	width:100%;
	position:absolute;
	left:0;
	bottom:0;
	content:"";
	background-color: #C2C0C0;
}
.skillst10 .count-bar:before{
	height:10px;
	width:100%;
	position:absolute;
	left:0;
	bottom:0;
	content:"";
	background-color: #0d7878;
}
.skillst10 .count-bar:after{
	position:absolute;
	right:0;
	bottom:10px;
	content:"";
	border-left:6px solid transparent;
	border-right:6px solid transparent;
	border-bottom:8px solid #0d7878;
}

/* Skills Style 10 */



/*Coustom Media Query Css*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media only screen and (max-width: 767px) {

