/*******************************
		 no radius
********************************/
.navbar {
	border-radius: 0;
	border-style: none;
} 


a:hover {
	color: black !important;
}

/*******************************

	COLOR BACKGROUND

********************************/
.white{
	background-color: white !important;
}
.black{
	background-color: black !important;
}


/*******************************

		COLOR TEXT

*******************************/

.white-text{
	color: white !important;
}

.black-text{
	color: black !important;
}

/*******************************

		Font-size

*******************************/


/*******************************

		no style list

*******************************/
.no-list{
	list-style: none;
}
